html,
body {
  background-color: black;
  user-select: none;
  overflow: hidden;

  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.3vmin;
  /* color: rgb(240, 18, 103); */
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}

dialog[type="splash"] {
  /* background-image: url("/Images/Backgrounds/starry.gif"); */
  /* background-repeat: repeat; */
  background-size: contain;
  width: 100%;
  height: 100%;
}

dialog[type="splash"] > p {
  font-size: 2vmin;
  /* color: white; */
  text-align: center;
}

#FudgeStoryLogo {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

/***** SPEECH, CONTENT, NAMES *****/
speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  /* background-color: rgba(4, 32, 1, 0.9); */
  /* color: aliceblue; */
  width: 100%;
  height: 13%;
}

speech content {
  /* color: rgb(70, 203, 40); */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 3vmin;
  position: absolute;
  margin-left: 20px;
  width: 100%;
}

name {
  font-size: 3.2vmin;
  display: block;
  /* color: rgb(47, 132, 28); */
  margin-bottom: 10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-left: 10px;
}

dialog[type="splash"] {
  margin: 0px;
  padding: 0px;
  /* width: 100vw; */
  height: 100vh;
  background-color: black;
  /* color: white; */
  /* border: none;
  cursor: pointer; */
  text-align: center;
}
dialog[type="splash"] > img#FudgeStoryLogo {
  width: 100%;
}

content {
  color: black;
  font-family: "Reenie Beanie", cursive;
  font-size: 3em;
  width: 500px;
  height: 150px;
}

.inventory {
  background: rgba(253, 253, 253, 0.5);
}

.inventory ul {
  max-width: 200px;
  margin-left: 10%;
  list-style-type: none;
}

.inventory ul li img {
  max-width: 100px;
  max-height: 100px;
}

.decision {
  width: 180px;
  text-align: center;
  overflow: hidden;
  background-color: #000;
  box-shadow: 0 0 100px 100px #000;
}

.decision button {
  height: 3em;
  width: 12em;
  border: none;
  border-radius: 10em;
  background: #ffffff;
  font-size: 17px;
  color: black;
  font-family: inherit;
  font-weight: 500;
  margin-top: 1em;
}

.decision button:hover {
  animation: shake3856 0.3s linear infinite both;
}

.credits {
  background-color: yellow;
  animation: appear 350ms ease-in 1;
  max-width: 500px;
  max-height: 800px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* .loveMeter {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #000;
} */

.circle {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0.5rem;
  /* left: 90%; */
  border-radius: 50%;
  background: #ffcdb2;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#fc365e 25%, #ffcdb2 0);
}
.circle.per-50 {
  background-image: conic-gradient(#fc365e 50%, #ffcdb2 0);
}
.circle.per-75 {
  background-image: conic-gradient(#fc365e 75%, #ffcdb2 0);
}
.circle.per-100 {
  background-image: conic-gradient(#fc365e 100%, #ffcdb2 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: #000;
  border-radius: 50%;
  font-size: 1.25em;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.75);
}
